.color-picker {
    text-align: center;
    margin: 50px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(250, 195, 204);
    

}
  
.color-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.color-option {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
}
body{
    background-color: rgb(250, 209, 250);
}  
h2{
    text-align: center;
}
button{
    background-color: rgb(104, 218, 104);
    color: white;
    height: 40px;
}